# Dependencies
/node_modules
/client/node_modules
/server/node_modules
/services/venv

# Python cache
__pycache__/
*.pyc

# Production
/build
/client/build

# IDE & OS Files
.idea/
.vscode/
.DS_Store
Thumbs.db

# Environment Variables
.env
.env.*
!/.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*